// Typography
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');
$base-font-family: 'Overpass Mono', monospace;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .52em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary-color: #ff00ff; // not used on its own
$action-color: #ffffff; // title color, post name color (on main page), disqus username color
$white-color: #ff00ff; // Very light grey
$black-color: #ff00ff; // not used?
$blue-color: #ddddff; // links and underlines
$dark-gray-color: #999999; // post titles in posts
$medium-gray-color: #ffdddd; // dates
$light-gray-color: #222222; // comments background, horizontal line at top, footer, mobile post boxes

// Font Colors
$base-font-color: #cccccc; // blog description, years, text in posts, "Comments" header

// Border
$base-border-color: #ff00ff; // $light-gray-color;
$base-border: #00ffff; // 1px solid $base-border-color;

// Background Colors
$base-background-color: #222222; // background color (not for comments)
$secondary-background-color: #00ff00; // tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
