:root {
  --background: #b7c4ce;
  --text: hwb(0 2% 95%);
  --highlight: hsl(0, 0%, 38%);
}


.mono {
  font-family: Courier, monospace;
}


body {
  color: var(--text);

  background-color: rgba(201, 201, 201, 0.538);
  position: relative;
  margin: 0 auto;
  width: 38em;
}

a {
  color: var(--background);
  background: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--background);
  background: var(--highlight);
}