:root {
  --background: #cbc2b4;
  --text: #222;
  --highlight: #a9a294;
}


.mono {
  font-family: Courier, monospace;
}


body {
  color: var(--text);

  background-color: var(--background);
  position: relative;
  margin: 0 auto;
  width: 38em;
}

a {
  color: var(--background);
  background-color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  background-color: var(--highlight);
}



/* a {
  color: var(--highlight);
  background-color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--background);
  background-color: var(--highlight);
} */